---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=94194bbad54aa4ff9fa9ac918fe1b330&lat=40.0150&lon=-105.2705&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.015,"lon":-105.2705,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632887884,"sunrise":1632833679,"sunset":1632876508,"temp":61.52,"feels_like":59.63,"pressure":1006,"humidity":48,"dew_point":41.67,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.61,"wind_deg":260,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1632887940,"precipitation":0},{"dt":1632888000,"precipitation":0},{"dt":1632888060,"precipitation":0},{"dt":1632888120,"precipitation":0},{"dt":1632888180,"precipitation":0},{"dt":1632888240,"precipitation":0},{"dt":1632888300,"precipitation":0},{"dt":1632888360,"precipitation":0},{"dt":1632888420,"precipitation":0},{"dt":1632888480,"precipitation":0},{"dt":1632888540,"precipitation":0},{"dt":1632888600,"precipitation":0},{"dt":1632888660,"precipitation":0},{"dt":1632888720,"precipitation":0},{"dt":1632888780,"precipitati[...]
[...]
