---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=7697191e338e4cbf82a214115211609&q=Boulder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/24/2021 02:56:59'
      Cdn-Edgestorageid:
      - '506'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0d19d33175f9bd96f5f0ae0abbadf26d
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Boulder","region":"Colorado","country":"United
        States of America","lat":40.02,"lon":-105.27,"tz_id":"America/Denver","localtime_epoch":1632452219,"localtime":"2021-09-23
        20:56"},"current":{"last_updated_epoch":1632451500,"last_updated":"2021-09-23
        20:45","temp_c":22.0,"temp_f":71.6,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":20,"wind_dir":"NNE","pressure_mb":1021.0,"pressure_in":30.14,"precip_mm":0.0,"precip_in":0.0,"humidity":19,"cloud":50,"feelslike_c":22.1,"feelslike_f":71.7,"vis_km":16.0,"vis_miles":9.0,"uv":7.0,"gust_mph":6.9,"gust_kph":11.2},"forecast":{"forecastday":[{"date":"2021-09-23","date_epoch":1632355200,"day":{"maxtemp_c":28.9,"maxtemp_f":84.0,"mintemp_c":12.4,"mintemp_f":54.3,"avgtemp_c":18.7,"avgtemp_f":65.7,"maxwind_mph":12.1,"maxwind_kph":19.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":21.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":6.0},"astro":{"sunrise":"06:50
        AM","sunset":"06:56 PM","moonrise":"08:31 PM","moonset":"09:23 AM","moon_phase":"Waning
        Gibbous","moon_illumination":"76"},"hour":[{"time_epoch":1632376800,"time":"2021-09-23
        00:00","temp_c":13.4,"temp_f":56.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.1,"wind_kph":16.2,"wind_degree":263,"wind_dir":"W","pressure_mb":1017.0,"pressure_in":30.03,"precip_mm":0.0,"precip_in":0.0,"humidity":24,"cloud":0,"feelslike_c":12.0,"feelslike_f":53.6,"windchill_c":12.0,"windchill_f":53.6,"heatindex_c":13.4,"heatindex_f":56.1,"dewpoint_c":-6.5,"dewpoint_f":20.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":21.0,"gust_kph":33.8,"uv":1.0},{"time_epoch":1632380400,"time":"2021-09-23
        01:00","temp_c":13.5,"temp_f":56.3,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":11.0,"wind_kph":17.6,"wind_degree":263,"wind_dir":"W","pressure_mb":1017.0,"pressure_in":30.03,"precip_mm":0.0,"precip_in":0.0,"humidity":24,"cloud":0,"feelslike_c":12.0,"feelslike_f":53.6,"windchill_c":12.0,"windchill[...]
