---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=94194bbad54aa4ff9fa9ac918fe1b330&lat=34.28088&lon=-114.18384&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.2809,"lon":-114.1838,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1632859471,"sunrise":1632835754,"sunset":1632878710,"temp":87.37,"feels_like":85.59,"pressure":1006,"humidity":33,"dew_point":54.77,"uvi":6.37,"clouds":0,"visibility":10000,"wind_speed":17.6,"wind_deg":185,"wind_gust":19.26,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1632859500,"precipitation":0},{"dt":1632859560,"precipitation":0},{"dt":1632859620,"precipitation":0},{"dt":1632859680,"precipitation":0},{"dt":1632859740,"precipitation":0},{"dt":1632859800,"precipitation":0},{"dt":1632859860,"precipitation":0},{"dt":1632859920,"precipitation":0},{"dt":1632859980,"precipitation":0},{"dt":1632860040,"precipitation":0},{"dt":1632860100,"precipitation":0},{"dt":1632860160,"precipitation":0},{"dt":1632860220,"precipitation":0},{"dt":1632860280,"precipitation":0},{"dt":1632860340,"precipitati[...]
