---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=94194bbad54aa4ff9fa9ac918fe1b330&lat=34.28088&lon=-114.18384
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.2809,"lon":-114.1838,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1632494388,"sunrise":1632489985,"sunset":1632533450,"temp":299.43,"feels_like":299.43,"pressure":1012,"humidity":42,"dew_point":285.51,"uvi":0.54,"clouds":44,"visibility":10000,"wind_speed":0.8,"wind_deg":108,"wind_gust":1.27,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1632494400,"precipitation":0},{"dt":1632494460,"precipitation":0},{"dt":1632494520,"precipitation":0},{"dt":1632494580,"precipitation":0},{"dt":1632494640,"precipitation":0},{"dt":1632494700,"precipitation":0},{"dt":1632494760,"precipitation":0},{"dt":1632494820,"precipitation":0},{"dt":1632494880,"precipitation":0},{"dt":1632494940,"precipitation":0},{"dt":1632495000,"precipitation":0},{"dt":1632495060,"precipitation":0},{"dt":1632495120,"precipitation":0},{"dt":1632495180,"precipitation":0},{"dt":1632495240,"precipitati[...]
