---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=94194bbad54aa4ff9fa9ac918fe1b330&lat=34.28088&lon=-114.18384&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.2809,"lon":-114.1838,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1632524381,"sunrise":1632489985,"sunset":1632533450,"temp":93.76,"feels_like":90.52,"pressure":1010,"humidity":22,"dew_point":49.19,"uvi":2.12,"clouds":54,"visibility":10000,"wind_speed":1.74,"wind_deg":243,"wind_gust":2.75,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1632524400,"precipitation":0},{"dt":1632524460,"precipitation":0},{"dt":1632524520,"precipitation":0},{"dt":1632524580,"precipitation":0},{"dt":1632524640,"precipitation":0},{"dt":1632524700,"precipitation":0},{"dt":1632524760,"precipitation":0},{"dt":1632524820,"precipitation":0},{"dt":1632524880,"precipitation":0},{"dt":1632524940,"precipitation":0},{"dt":1632525000,"precipitation":0},{"dt":1632525060,"precipitation":0},{"dt":1632525120,"precipitation":0},{"dt":1632525180,"precipitation":0},{"dt":1632525240,"precipitati[...]
