---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=94194bbad54aa4ff9fa9ac918fe1b330&lat=34.28088&lon=-114.18384&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.2809,"lon":-114.1838,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1632700981,"sunrise":1632662869,"sunset":1632706079,"temp":86.41,"feels_like":86.14,"pressure":1011,"humidity":41,"dew_point":59.94,"uvi":0.71,"clouds":99,"visibility":10000,"wind_speed":17.56,"wind_deg":151,"wind_gust":16.73,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1632701040,"precipitation":0},{"dt":1632701100,"precipitation":0},{"dt":1632701160,"precipitation":0},{"dt":1632701220,"precipitation":0},{"dt":1632701280,"precipitation":0},{"dt":1632701340,"precipitation":0},{"dt":1632701400,"precipitation":0},{"dt":1632701460,"precipitation":0},{"dt":1632701520,"precipitation":0},{"dt":1632701580,"precipitation":0},{"dt":1632701640,"precipitation":0},{"dt":1632701700,"precipitation":0},{"dt":1632701760,"precipitation":0},{"dt":1632701820,"precipitation":0},{"dt":1632701880,"precipitati[...]
