---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=10NnpNgxoP70IBNuOvmwmG2OKWoJMnSW&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 24 Sep 2021 21:31:34 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=10NnpNgxoP70IBNuOvmwmG2OKWoJMnSW&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-886069987"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=10NnpNgxoP70IBNuOvmwmG2OKWoJMnSW&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-2081460241"}]}]}'
  recorded_at: Fri, 24 Sep 2021 21:31:34 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=94194bbad54aa4ff9fa9ac918fe1b330&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632519094,"sunrise":1632487781,"sunset":1632531239,"temp":295.97,"feels_like":295.06,"pressure":1017,"humidity":29,"dew_point":277.02,"uvi":2.66,"clouds":5,"visibility":10000,"wind_speed":0.45,"wind_deg":85,"wind_gust":1.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1632519120,"precipitation":0},{"dt":1632519180,"precipitation":0},{"dt":1632519240,"precipitation":0},{"dt":1632519300,"precipitation":0},{"dt":1632519360,"precipitation":0},{"dt":1632519420,"precipitation":0},{"dt":1632519480,"precipitation":0},{"dt":1632519540,"precipitation":0},{"dt":1632519600,"precipitation":0},{"dt":1632519660,"precipitation":0},{"dt":1632519720,"precipitation":0},{"dt":1632519780,"precipitation":0},{"dt":1632519840,"precipitation":0},{"dt":1632519900,"precipitation":0},{"dt":1632519960,"precipitati[...]
