---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=7697191e338e4cbf82a214115211609&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/24/2021 03:21:50'
      Cdn-Edgestorageid:
      - '506'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a82f72fe53c7e54182872edab62d2a8a
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1632453710,"localtime":"2021-09-23
        21:21"},"current":{"last_updated_epoch":1632453300,"last_updated":"2021-09-23
        21:15","temp_c":19.4,"temp_f":66.9,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":80,"wind_dir":"E","pressure_mb":1022.0,"pressure_in":30.19,"precip_mm":0.0,"precip_in":0.0,"humidity":20,"cloud":50,"feelslike_c":19.4,"feelslike_f":66.9,"vis_km":16.0,"vis_miles":9.0,"uv":7.0,"gust_mph":2.5,"gust_kph":4.0},"forecast":{"forecastday":[{"date":"2021-09-23","date_epoch":1632355200,"day":{"maxtemp_c":30.2,"maxtemp_f":86.4,"mintemp_c":14.1,"mintemp_f":57.4,"avgtemp_c":20.8,"avgtemp_f":69.4,"maxwind_mph":11.6,"maxwind_kph":18.7,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":18.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":6.0},"astro":{"sunrise":"06:49
        AM","sunset":"06:55 PM","moonrise":"08:30 PM","moonset":"09:21 AM","moon_phase":"Waning
        Gibbous","moon_illumination":"76"},"hour":[{"time_epoch":1632376800,"time":"2021-09-23
        00:00","temp_c":16.8,"temp_f":62.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":246,"wind_dir":"WSW","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"humidity":21,"cloud":0,"feelslike_c":16.8,"feelslike_f":62.2,"windchill_c":16.8,"windchill_f":62.2,"heatindex_c":16.8,"heatindex_f":62.2,"dewpoint_c":-5.4,"dewpoint_f":22.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":10.5,"gust_kph":16.9,"uv":1.0},{"time_epoch":1632380400,"time":"2021-09-23
        01:00","temp_c":16.2,"temp_f":61.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":245,"wind_dir":"WSW","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"humidity":21,"cloud":0,"feelslike_c":16.2,"feelslike_f":61.2,"windchill_c":16.2,"windchill[...]
