---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=10NnpNgxoP70IBNuOvmwmG2OKWoJMnSW&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Sep 2021 20:16:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=10NnpNgxoP70IBNuOvmwmG2OKWoJMnSW&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2118506962"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=10NnpNgxoP70IBNuOvmwmG2OKWoJMnSW&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=2065954601"}]}]}'
  recorded_at: Tue, 28 Sep 2021 20:16:00 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=94194bbad54aa4ff9fa9ac918fe1b330&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632860161,"sunrise":1632833607,"sunset":1632876443,"temp":26.88,"feels_like":26.07,"pressure":1000,"humidity":22,"dew_point":3.39,"uvi":5.24,"clouds":47,"visibility":10000,"wind_speed":0.45,"wind_deg":85,"wind_gust":3.13,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1632860220,"precipitation":0},{"dt":1632860280,"precipitation":0},{"dt":1632860340,"precipitation":0},{"dt":1632860400,"precipitation":0},{"dt":1632860460,"precipitation":0},{"dt":1632860520,"precipitation":0},{"dt":1632860580,"precipitation":0},{"dt":1632860640,"precipitation":0},{"dt":1632860700,"precipitation":0},{"dt":1632860760,"precipitation":0},{"dt":1632860820,"precipitation":0},{"dt":1632860880,"precipitation":0},{"dt":1632860940,"precipitation":0},{"dt":1632861000,"precipitation":0},{"dt":1632861060,"precipitati[...]
